html{
    scroll-behavior: smooth;

}
@font-face {
    font-family: "Cossette";
    src: url("src/CossetteTitre-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cossette";
    src: url("src/CossetteTitre-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

h1, h2, strong, .is-bold {
    font-weight: 700; /*swaps bold to bold (obvious)*/
}

body {
    font-family: "Cossette", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

/*Navbar Classes*/
.nav{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.nav-item-container{
    list-style: none;
    flex-direction: row;
    display: flex;
}
.nav-flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-item-hyperlink{
    text-decoration: none;
    color: inherit;
}
.nav-item:last-child {
    margin-right: 0;
}
