@font-face {
    font-family: 'Cossette';
    src: url('src/CossetteTitre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    font-family: 'Cossette', sans-serif;

}
/**/
.container{
    display: flex;
    justify-content: center;
}

.container ul{
    background-color: #57737A;
    padding-left: 7px;
    padding-right: 7px;
    list-style: none;
    display: flex;
    gap: 50px;
    border-radius: 12px;
}

.container ul li{
    font-size: 20px;
    transition: text-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    transform-origin: center;

}
.container ul li:hover{
    transition: 0.1s;
    transform: scale(1.05);
    text-shadow: 0 0 5px #fff,
    0 0 10px #57737A,
    0 0 20px #57737A,
    0 0 30px #57737A,
    0 0 40px #57737A;

}
/**/

#textLogoMain{
    animation: textShadow 8s ease-in-out infinite alternate;
}
@keyframes textShadow {
    0% {
        text-shadow: none;
    }
    100% {    text-shadow: 0 0 1px #fff,
    0 0 5px #57737A,
    0 0 10px #57737A,
    0 0 20px #57737A,
    0 0 30px #57737A,
    0 0 50px #ffffff,
    0 0 60px #57737A,
    0 0 70px #57737A,
    0 0 80px #57737A;}
    }
body {
    background-color: #040F0F;
    color: #C2FCF7;
}

.Welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.Welcome h1{
    font-size:12em;
    margin-bottom: 0;
}

.Welcome h3{
    font-size: 2em;
    margin-bottom: 20px;
}

.FrontPage-Button button{
    background-color: transparent;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    text-align: center;
    font-weight: 800;
    font-size: 15px;
    border-color: #C2FCF7;
    color: #C2FCF7;
    transition: 0.5s;

}

.FrontPage-Button button:hover{
    text-shadow: 3px 2px 3px black;
    background-color: #4c4c4c;
    transition: 0.5s;
    transform: scale(0.95);
}

.FrontPage-Button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Login*/
#loginForm{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

#loginForm *{
    color: #C2FCF7;
    background-color: transparent;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    font-family: 'Cossette', sans-serif;

    margin-top: 5px;
    transition: 0.5s;
}


#loginForm *:focus{
    outline: none;
    caret-color: #C2FCF7;
}

#loginForm *:hover{
    background-color: #4c4c4c;
    transition: 0.5s;
}

#loginForm button{
    font-weight: 800;
}



/**/




